<html>
    <head>
        <title>
            Error
        </title>
            <link rel="stylesheet" href='./css/style.css'>
            <link rel="icon" href='/img/cloudy.png'>
    </head>

    <body>
       <div class="main"> {{>header}}
        <p>{{errorm}}</p></div>
        <p>{{>footer}}</p>
    </body>
</html>